<h2>Methods that were not run</h2><table>
<tr><td>staging.com.PigeonLab.TestCases.PigeonLabDashboardTest.Create_Question</td></tr>
<tr><td>staging.com.PigeonLab.TestCases.PigeonLabDashboardTest.check_Allow_question</td></tr>
</table>