<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efaeb9">  <td>20/02/07 17:01:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.config()[pri:0, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@c39f790]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@866191240</td>   <td></td> </tr>
<tr bgcolor="7c6f81">  <td>20/02/07 17:01:31</td>   <td>237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PigeonLabDashboardTest.setup()[pri:0, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@c39f790]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@866191240</td>   <td></td> </tr>
</table>
