<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PigeonLab Application Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bdab">  <td>20/02/10 11:12:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.TearDown(org.testng.ITestResult)[pri:0, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@72d818d1]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>20/02/10 11:09:57</td>   <td>-143359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PigeonLabDashboardTest.checking_Posting_question_with_filtering_enable(java.lang.String, java.lang.String)[pri:2, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@72d818d1]">checking_Posting_question_with_filtering_enable</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>20/02/10 11:09:38</td>   <td>-162465</td> <td>&nbsp;</td><td title="&gt;&gt;Base.config()[pri:0, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@72d818d1]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>20/02/10 11:09:39</td>   <td>-161616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PigeonLabDashboardTest.setup()[pri:0, instance:staging.com.PigeonLab.TestCases.PigeonLabDashboardTest@72d818d1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
